.offcanvas {
  padding: 0 1rem;
  &-start {
    width: 300px;
  }
  &-header {
    padding: 1rem;
    padding-top: 1rem;
  }
  &-body {
    padding: 0.5rem;
  }
  .nav-item {
    padding: 0.5rem;
    border-bottom: 1px solid rgba($color: $grey-200, $alpha: 0.3);
    .nav-link {
      color: $black-600;
      &:hover {
        color: $primary !important;
        font-weight: 600;
      }
      &:focus {
        color: $primary !important;
        font-weight: 600;
      }
    }
  }
  .nav-item:first-child {
    padding-top: 0;
  }
}

.comment {
  height: 100vh;
  overflow-y: scroll;
  width: 500px;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  .media-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .reply {
    padding: 0.25rem 0;
    font-size: 0.75rem;
    color: $grey-400;
    text-decoration: none;
  }
  &-add {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 2px solid $grey-100;
  }
  &-post-button {
    margin-left: auto;
  }
}

.offcanvas-filter {
  border-bottom: 2px solid $grey-100;
}

.offcanvas-blog {
  overflow-x: hidden;
  .media-wrapper {
    height: 80px;
    overflow: hidden;
    border-radius: 0.25rem;
    @include media-breakpoint-down(lg) {
      height: 80px;
    }
  }
}
